<mat-card *ngIf="loginProfile">
  <p style="font-size:48px;margin-bottom:2px;">{{loginProfile.firstName}} {{loginProfile.lastName}} <span style="font-size:20px">Age {{loginProfile.age}}</span></p>
  <p style="font-size:18px;">{{loginProfile.bio}}</p>
  <div id="countbuttons">
	  <button mat-raised-button>{{loginProfile.viewsCount}} views</button>   
	  <button mat-raised-button color="primary">{{loginProfile.likesCount}} likes</button>   
	  <button mat-raised-button color="accent">{{loginProfile.followersCount}} followers</button>
	  <button mat-raised-button color="warn">{{loginProfile.followingsCount}} followings</button>
  </div>
</mat-card>

