<mat-card *ngIf="loginProfile">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Profile picture">
  <mat-card-header>
   <!--  <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar"> -->
    <mat-card-title>{{loginProfile.firstName}} {{loginProfile.lastName}}</mat-card-title>
    <mat-card-subtitle>{{loginProfile.age}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{loginProfile.bio}}
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-icon-button matTooltip="Profile views" matTooltipPosition="above"><mat-icon matBadge="{{loginProfile.viewsCount}}" matBadgeColor="warn">visibility</mat-icon></button>
	  <button mat-icon-button matTooltip="Likes" matTooltipPosition="above"><mat-icon matBadge="{{loginProfile.likesCount}}" matBadgeColor="warn">thumb_up</mat-icon></button>
	  <button mat-icon-button (click)="incrementFollowers()" matTooltip="Followers" matTooltipPosition="above"><mat-icon matBadge="{{loginProfile.followersCount}}" matBadgeColor="warn">people</mat-icon></button>
	  <button mat-icon-button matTooltip="Folloing" matTooltipPosition="above"><mat-icon matBadge="{{loginProfile.followingsCount}}" matBadgeColor="warn">person</mat-icon></button>
  </mat-card-actions>
</mat-card>

