<h1> Searched User: {{username}} </h1>
<div><form class="searchUser-form" [formGroup]="searchUserForm" (submit)="postComments()">
    <div>
  <mat-form-field>
    <textarea matInput placeholder="Write Comment" formControlName="writecomment"></textarea>
  </mat-form-field><br>
  <input hidden  formControlName="username" value="{{username}}"/>  
  

  <section class="example-section">
      <mat-checkbox class="example-margin" checked>Anonymity</mat-checkbox>
  </section><br>

  <button mat-raised-button type="submit">Post Comment</button>
  <button mat-raised-button type="button">
    <nav>
      <a routerLink="/dashboard">Back to Dashboard</a>
    </nav>
  </button>
  </div>
</form><br>
<app-comments></app-comments>
</div>
<router-outlet></router-outlet>

